.name-wrapper {
    border: 2px solid #94a3b8;
    border-radius: 5px;
    background-color: #475569;
    position: fixed;
    top: 50px;
    left: 25%;
    padding: 10px;
}

.player-name {
    display: inline-block;
    font-family: monospace;
    font-size: 30px;
    color: #22c55e;
    font-style: italic;
}

.player-id {
    display: inline-block;
    font-family: monospace;
    font-size: 18px;
    color: #34d399;
    margin-left: 3px;
    
}





.player-layer-details-wrapper {
    display: grid;
    grid-template-columns: [l] 10% [l1] 40% [m] 40% [r1] 10% [r];
}

.load-controller-wrapper {
    grid-column: l1 / r1;
}

.load-button {
    background-color: #475569;
    border: 2px solid #94a3b8;
    color: white;
    border-radius: 8px;
    padding: 8px;
    font-family: monospace;
    transition-duration: 0.2s;
}

.load-button:hover {
    cursor: pointer;
    color: #22c55e;
}

.details-view-switch-wrapper {
    grid-column: l1 / r1;
}

.details-view-switch-button {
    margin: 0px 3px;
    background-color: #475569;
    border: 2px solid #94a3b8;
    color: white;
    border-radius: 8px;
    padding: 8px;
    font-family: monospace;
    transition-duration: 0.2s;
    width: 88px;
}

.details-view-switch-button:hover {
    cursor: pointer;
    color: #22c55e;
}